In [70]:
import pickle
import pandas as pd
import nltk
from nltk import FreqDist

In [81]:
with open('df_skald.pkl', 'rb') as picklefile:
    skalds = pickle.load(picklefile)

In [82]:
def words(text):
    text = text.split()
    u_words = set(text)
    count = len(u_words)
    return count

In [83]:
def wordct(text):
    count = text.split()
    count = len(count)
    return count

In [84]:
def lexden(text):
    text = text.split()
    count = len(text)
    lexden = len(set(text))/count
    return lexden

In [85]:
def wf(text):
    text = text.split()
    ftxt = FreqDist(text)
    return ftxt

In [86]:
skalds['Unique Words'] = skalds['Text'].map(lambda x: words(x))
#skalds['Frequent Words'] = skalds['Text'].map(lambda x: wf(x))
skalds['Word Count'] = skalds['Text'].map(lambda x: wordct(x))
skalds['Lexical Den'] = skalds['Text'].map(lambda x: lexden(x))

In [88]:
skalds.drop(['Skald2'], axis = 1, inplace = True)
skalds.head()

,Title,Author,Text,Skald,Unique Words,Word Count,Lexical Den
0,Bárðar saga snæfellsáss,unknown,['Dumbur hefir konungur heitið Hann réð fyrir ...,1,3494,13302,0.262667
1,Bjarnar saga hítdælakappa,unknown,['Nú skal segja nokkuð af þeim íslensku mönnum...,2,4312,20475,0.210598
2,Droplaugarsona saga,unknown,['Ketill hét maður er kallaður var þrymur Hann...,0,2420,9601,0.252057
3,Egil's Saga\n,unknown,['Úlfur hét maður sonur Bjálfa og Hallberu dót...,0,9540,65204,0.146310
4,Finnboga saga ramma,unknown,['Ásbjörn hét maður Hann var kallaður dettiás ...,0,4062,23702,0.171378

In [95]:
type(skalds.loc[0, 'Text'])

str

In [23]:
total_words = skalds['Word Count'].sum()
total_words

1145569

In [24]:
total_unique_words = []
count = 0
while count < len(skalds['Text']):
    text = skalds.loc[count, 'Text']
    text = text.split()
    total_unique_words = total_unique_words + text
    count += 1
total_unique_words = set(total_unique_words)
len(total_unique_words)

69658

In [25]:
skalds['Word Count'].max()

99812

In [26]:
skalds['Word Count'].mean()

19416.42372881356

In [27]:
longest = skalds[skalds['Word Count'] == skalds['Word Count'].max()]
longest

,Title,Author,Text,Skald,Unique Words,Word Count,Lexical Den
32,The Story of Burnt Njal\n,unknown,['Mörður hét maður er kallaður var gígja Hann ...,0,11004,99812,0.110247

In [28]:
shortest = skalds[skalds['Word Count'] == skalds['Word Count'].min()]
shortest

,Title,Author,Text,Skald,Unique Words,Word Count,Lexical Den
54,Ólafs saga kyrra,snorri,"['1 Saga Ólafs konungs kyrra', 'Ólafur var ein...",0,613,1045,0.586603

In [29]:
lex_complex = skalds[skalds['Lexical Den'] == skalds['Lexical Den'].max()]
lex_complex

,Title,Author,Text,Skald,Unique Words,Word Count,Lexical Den
54,Ólafs saga kyrra,snorri,"['1 Saga Ólafs konungs kyrra', 'Ólafur var ein...",0,613,1045,0.586603

In [30]:
lex_simple = skalds[skalds['Lexical Den'] == skalds['Lexical Den'].min()]
lex_simple

,Title,Author,Text,Skald,Unique Words,Word Count,Lexical Den
32,The Story of Burnt Njal\n,unknown,['Mörður hét maður er kallaður var gígja Hann ...,0,11004,99812,0.110247

In [31]:
verbage_max = skalds[skalds['Unique Words'] == skalds['Unique Words'].max()]
verbage_max

,Title,Author,Text,Skald,Unique Words,Word Count,Lexical Den
55,Ólafs saga helga,snorri,"['1 Upphaf sögu hins helga Ólafs konungs', 'Ól...",0,15801,99168,0.159336

In [32]:
verbage_min = skalds[skalds['Unique Words'] == skalds['Unique Words'].min()]
verbage_min

,Title,Author,Text,Skald,Unique Words,Word Count,Lexical Den
57,Prologus Heimskringlu,snorri,['(Hér á eftir fer Prologus Heimskringlu eins ...,0,612,1708,0.358314

In [33]:
comp_skalds = skalds.groupby('Skald').mean()
comp_skalds.reset_index(inplace = True)
comp_skalds.head()

   Skald  Unique Words    Word Count  Lexical Den
0      0   3946.631579  19505.122807     0.265189
1      1   3494.000000  13302.000000     0.262667
2      2   4312.000000  20475.000000     0.210598

In [34]:
snorri = skalds[skalds['Author'] == 'snorri']

In [35]:
snorri.head()

,Title,Author,Text,Skald,Unique Words,Word Count,Lexical Den
42,Haralds saga gráfeldar,snorri,"['1 Upphaf Eiríkssona', 'Eiríkssynir tóku þá k...",0,1798,4261,0.421967
43,Hákonar saga Aðalsteinsfóstra,snorri,"['1 Hákon til konungs tekinn', 'Hákon Aðalstei...",0,2968,8348,0.355534
44,Hálfdanar saga svarta,snorri,"['1 kafli', 'Hálfdan var þá veturgamall er fað...",0,918,2069,0.443693
45,Haraldar saga hárfagra,snorri,['1 Hér hefur upp sögu Haralds konungs hárfagr...,0,3545,10575,0.335225
46,Haralds saga Sigurðarsonar,snorri,"['1 Upphaf Haralds konungs harðráða', 'Haraldu...",0,6908,25629,0.269538

In [37]:
snorri_stat = snorri.groupby('Author').mean()
snorri_stat.reset_index(inplace =True)
snorri_stat.drop(['Skald'], axis = 1, inplace = 1)
snorri_stat

   Author  Unique Words    Word Count  Lexical Den
0  snorri   3786.176471  14837.529412     0.352239

In [48]:
zero = (skalds['Author'] == 'unknown') & (skalds['Skald'] == 0)

In [50]:
skald_zero = skalds[zero]
skald_zero.head()

,Title,Author,Text,Skald,Unique Words,Word Count,Lexical Den
2,Droplaugarsona saga,unknown,['Ketill hét maður er kallaður var þrymur Hann...,0,2420,9601,0.252057
3,Egil's Saga\n,unknown,['Úlfur hét maður sonur Bjálfa og Hallberu dót...,0,9540,65204,0.146310
4,Finnboga saga ramma,unknown,['Ásbjörn hét maður Hann var kallaður dettiás ...,0,4062,23702,0.171378
5,Fljótsdæla saga,unknown,['Þorgerður hét kona Hún bjó í Fljótsdal austu...,0,4784,27272,0.175418
6,Flóamanna saga,unknown,['Haraldur konungur gullskeggur réð fyrir Sogn...,0,3936,17773,0.221460

In [52]:
skald_zero_stat = skald_zero.groupby('Author').mean()
skald_zero_stat.reset_index(inplace =True)
skald_zero_stat.drop(['Skald'], axis = 1, inplace = 1)
skald_zero_stat['Author'] = 'Skald 0'
skald_zero_stat

    Author  Unique Words  Word Count  Lexical Den
0  Skald 0      4014.825    21488.85     0.228193

In [89]:
skald_zero_stat = pd.DataFrame(skald_zero_stat)
snorri_stat = pd.DataFrame(snorri_stat)

In [92]:
others = skalds[skalds['Skald'] != 0]
others

,Title,Author,Text,Skald,Unique Words,Word Count,Lexical Den
0,Bárðar saga snæfellsáss,unknown,['Dumbur hefir konungur heitið Hann réð fyrir ...,1,3494,13302,0.262667
1,Bjarnar saga hítdælakappa,unknown,['Nú skal segja nokkuð af þeim íslensku mönnum...,2,4312,20475,0.210598